@CHARSET "UTF-8";
body{
	font-family:serif,sans-serif;
	font-size:small;
	line-height:1.6em;
        background-color:#008009;
}
h1,h2{
	color:#007e7e;
}
h1{
        font-size:150%;	
}
h2{
	font-size:130%;
}
h3.guarantee{
	color:black;
	font-size:160%;
	font-family:fantasy;
}
h3.greentea{
	color:black;
	font-size:160%;
	font-family:fantasy;
}
a{
	font-size:normal;
	font-family:cursive;
	font-weigth:bold;
        text-decoration:none;
}

div{
	border:3px dashed white;
	background-color:#008009;
        line-height:1.6em;      
}
div.guarantee{
    border:3px solid pink;
    padding:25px;
    margin:20px;
    color:#444444;
    background-color:#c0c0c0;
	
}
div.greentea{
	line-height:1.9em;
	color:#555555;
	border:3px solid yellow;
	padding:25px;
	margin:20px;
	background-color:#c0c0c0;
}
div.navigation {
       background-color:rgba(255,255,255,0.9);
       position:fixed;
       text-align:center;
       z-index:10000;
       padding:0px;
       margin:0px;
       top:0px;
       width:100%;
       border:0px;
}
div.navigation ul{
       text-align:center;

}
div.navigation li {
       background-color:rgba(0,255,255,0.8);
       display:inline-block;
       color:#142130;
       font-size:100%;
       font-weight:300px;
       margin:10px;
       padding:20px 20px;
       line-style:none;
       font-size:150%;
}

div.cover{
      display:table;
      margin-top:0px;
      margin-left:10%;
      margin-right:10%;
      width:80%;
      height:1000px;
      position:relative;
      background-color:#006002;
      border:0px;
      
}
div.cover-row{
      display:table-row;;
      border:0px;
}
div.cover-td{
        display:table-cell;
	background-color:rgba(255,255,255,0.8); 
        vertical-align:top;
       
}

div.cover-td ul li {
        line-style:none;
        font-size:100%;
}

div.cover-td img{
        width:auto;
        height:auto;
        max-width:70%;
        max-height:70%;
          
}
#myphoto{;
border:0px;
vertical-align:top;
text-align:center;
line-height:1.8em;
}

#cover-head{
padding:0px;
overflow:hidden;
background-image:url(../img/night.jpg);
vertical-align:top;
}

#paginator{
        margin:4%;
        padding:0px;
}
.panenavi{
        margin:0px;
        padding:0px;
}
div.pagenavi li{ 
        background-color:rgba(0,100,255,0.9);
        display:inline-block;
        color:white;
        font-size:150%;
        font-weight:300px;
        margin:0px 1%;
        padding:0px 3%;
        line-style:none;  
        width:13px;
        text-align:center;
}
div.pagenavi ul li a{
color:white;
}
.current-page li{
color:pink;
}
a:link{
	color:#007e7e;
}
a:visited{
	color:#333333;
}
a:hover{
	color:#0d5353;
        
}
.rightfloat{
	float:right;
        margin:0px;
        border-radius:45%;
        background-color:#f88390;
}
div#tableContainer{
	display:table;
	border-spacing:10px;
        padding:0px;
        margin:0px;
}
div#tableRow{
	display:table-row;
	border-spacing:10px;
        padding:0px;
        margin:0px;

}
#main{
	display:table-cell;
	background-color:#cc6600;
	font-size:150%;
	padding:5px;
        margin:0px;
        border:1px solid black;
        vertical-align:top;
}