---
layout: default
title: Code Garden
---
<div class="cover-content-right">
<h1>{{ page.title }}</h1>
<h2>List of paper</h2>
<h3>{{ page.tags }}</h3>
<h3>{{ paginator.per_page }}</h3>
<h3>{{ paginator.posts }}</h3>
<h3>{{ paginator.total_posts }}</h3>
<h3>{{ paginator.total_pages }}</h3>
<h3>{{ paginator.page }}</h3>
<h3>{{ paginator.paginator.previous_page }}</h3>
<h3>{{ paginator.paginator.next_page }}</h3>

<h3><a href="{{ paginator.next_page_path }}">next</a></h3>
<h3><a href="{{ paginator.previous_page_path }}">before</a></h3>



<ul>
<li>paginator has many useful word which can use in the index.html</li>
<li>{{ paginator.per_page }}</li>
<li>{{ paginator.posts }}</li>
<li>{{ paginator.total_posts }}</li>
<li>{{ paginator.total_pages }}</li>
<li>{{ paginator.page }}</li>
<li>{{ paginator.previous_page }}</li>
<li>{{ paginator.previous_page_path }}</li>
<li>{{ paginator.next_page }}</li>
<li>{{ paginator.next_page_path }}</li>
</ul>


{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}


<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}



</div>




</div>
