---
layout: default
title: Code Garden
---
<div id="myTabContent" class="tab-content">
<div id="home" class="tab-pane fade in active">
{% include paginator.html %}
<ul class="welcome list-group">
{% for post in paginator.posts %}
<li class="list-group-item">
<h3>&#9730;<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
<span class="date"></span>
{{ post.excerpt | remove: 'cover-content-right' }}	
<p> 
<a data-toggle="modal" data-target="#myModal" href="{{ site.baseurl }}{{ post.url }}"><span>&#127808;Read all &raquo; </span></a>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><span>&#127808;Read all &raquo; </span></button>
</p>
</li>
{% endfor %}
</ul>
</div>
{% include list.html %}

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content border-ants">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
        {{ content }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
</div>
<style>
ul.welcome a{
text-decoration:none;
}
ul.welcome a:hover{
text-shadow: 0 0 20px pink;
}
</style>



