<div class="page-header">
<canvas id="mycanvas" style="width:100%;"></canvas>
</div>
<script>
var image1=new Image();
image1.src="{{ site.url }}{{ site.baseurl }}/img/night.jpg";

var c=document.getElementById("mycanvas");
var ctx=c.getContext("2d");
ctx.drawImage(image1,0,0,image1.width,image1.height);	

var grd=ctx.createLinearGradient(0,0,600,0);
grd.addColorStop(0,"red");
grd.addColorStop(0.2,"yellow");
grd.addColorStop(1,"black");
grd.addColorStop(0.5,"lightgreen");
grd.addColorStop(0.7,"lightblue");
ctx.font="30px Arial";
ctx.fillStyle=grd;
ctx.strokeStyle=grd;

ctx.textAlign="start";   
ctx.fillText("code garden",10,50);
ctx.fillText("Knowledge & action,go hand in hand",10,90);

</script>



