<ul class="nav nav-tabs">
<li class="active">
<a href="{{ site.url }}{{ site.baseurl }}">HOME</a>
</li>
<li>
<a href="{{ site.url }}{{ site.baseurl }}/link/picture.html">PICTURE</a>
</li>
<li class="disabled">
<a href="{{ site.url }}{{ site.baseurl }}/link/map.html">MAP</a>
</li>
<li class="dropdown pull-right">
<a href="#" data-toggle="dropdown" class="dropdown-toggle">down<strong class="caret"></strong></a>
<ul class="dropdown-menu">
<li>
<a href="#">do</a>
</li>
<li>
<a href="#">set</a>
</li>
<li>
<a href="#">more set</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">fengexian</a>
</li>
</ul>
</li>
</ul>
