<div class="page-header">
<canvas id="mycanvas" width="1000px;" height="400px;" style="width:100%;"></canvas>
</div>
<div id="fenxiangdao">
<span>FXD</span>
</div>
<style>

#fenxiangdao{ width:150px; height:200px; background:green; position:absolute;left:-150px;}
#fenxiangdao span{ position:absolute; width:20px; height:60px; line-height:20px;
background:blue; right:-20px; top:70px; }


</style>
<script>

	var oDivfx=document.getElementById('fenxiangdao');
	oDivfx.onmouseover=function(){
		startMove(0);
	};
	oDivfx.onmouseout=function(){
		startMove(-150);
	}

var timer=null;
function startMove(iTarget){
	var speed=0;
	var oDivfx=document.getElementById('fenxiangdao');
	if(oDivfx.offsetLeft>iTarget)
	{
		speed=-10;
	}
	else
	{
		speed=10;
	}
	clearInterval(timer);
	timer=setInterval(function(){
		if(oDivfx.offsetLeft==iTarget){
			clearInterval(timer);
		}
		else{
			oDivfx.style.left=oDivfx.offsetLeft+speed+'px';
		}	
	},30);	
}

var c=document.getElementById("mycanvas");
var ctx=c.getContext("2d");
var dtx=c.getContext("2d");
var grd=ctx.createLinearGradient(0,0,600,0);

grd.addColorStop(0,"red");
grd.addColorStop(0.2,"yellow");
grd.addColorStop(1,"black");
grd.addColorStop(0.5,"lightgreen");
grd.addColorStop(0.7,"lightblue");

ctx.font="50px Arial";
ctx.fillStyle="lightgreen";
ctx.strokeStyle=grd;
ctx.textAlign="start";
ctx.strokeText("code garden",10,50);
ctx.strokeText("Knowledge & action,go hand in hand",10,110);

setInterval("draw()",1000);

function draw()
{
var oDate=new Date();
	var img=new Image();
	var str=toDou(oDate.getHours())+toDou(oDate.getMinutes())+toDou(oDate.getSeconds());
	var p=0;
	
fillbackground(dtx);
dtx.fillStyle="lightpink";


for(var i=0;i<20;i++)
{
dtx.fillStyle="lightpink";
var w=Math.floor(Math.random()*17);
var x=Math.floor(Math.random()*(c.width-40));
var y=Math.floor(Math.random()*(c.height-40));

dtx.fillRect(x,0,w/5,y);
dtx.beginPath();
dtx.fillStyle=grd;
dtx.arc(x,y,w,0,degreesToRadians(360),true);
dtx.fill();
}
	for(var j=0;j<6;j++){
	img.src="{{ site.url }}{{ site.baseurl }}/img/"+str.charAt(j)+".png";
	p=50*(3*j+2);
	dtx.drawImage(img,p,60);
	}
}
function toDou(n)
{
	if(n<10){
			return '0'+n;
		}
		else{
			return ''+n;
		}
	
}
function degreesToRadians(degrees){
return (degrees * Math.PI/180);
}
function fillbackground(dtx){
dtx.fillStyle="white";
dtx.fillRect(0,0,c.width,c.height);
}
</script>



