<div class="navigation">
<h1><span>Looking</span></h1>
<div class="navigation-content">
<h2><a href="{{ site.url }}{{ site.baseurl }}">&#10026;HOME</a></h2>
<h2><a href="{{ site.url }}{{ site.baseurl }}/link/picture.html">&#10014;PICTURE</a></h2>
<h2><a href="{{ site.url }}{{ site.baseurl }}/link/map.html">&#36;MAP</a></h2>
<h2><a href="{{ site.url }}{{ site.baseurl }}/link/addsong.html">&#36;SONG</a></h2>
<h2><a>&#9730;ABOUT ME</a></h2>
</div>
</div>
<div class="navigation col-4">
<span>Catalog</span>
<div class="navigation-content">
<h2><a href="{{ site.baseurl | replace: "//", "/" }}/index.html">&#10026;The first</a></h2>
<h2><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: "//", "/" }}/index.html">&#10014;Pre</a></h2>
<h2><a href=""{{ paginator.next_page_path | prepend: site.baseurl | replace: "//", "/" }}/index.html">&#36;Next</a></h2>
<h2><a href=""{{ site.baseurl }}/page{{ paginator.total_pages }}/index.html">&#36;The last</a></h2>
</div>
</div>
<div class="navigation">
<span>Catalog</span>
<div class="navigation-content">
{% include mypost.html %}
</div>
</div>
<div class="navigation">
<span>Catalog</span>
<div class="navigation-content">
{% include myinfo.html %}
</div>
</div>