<div id="mouse">
<div id="divs1"></div>
<div id="divs2"></div>
<div id="divs3"></div>
<div id="divs4"></div>
<div id="divs5"></div>
<div id="divs6"></div>
<div id="divs1"></div>
<div id="divs2"></div>
<div id="divs3"></div>
<div id="divs4"></div>
<div id="divs5"></div>
<div id="divs6"></div>
<div id="divs1"></div>
<div id="divs2"></div>
<div id="divs3"></div>
<div id="divs4"></div>
<div id="divs5"></div>
<div id="divs6"></div>
<div id="divs1"></div>
<div id="divs2"></div>
<div id="divs3"></div>
<div id="divs4"></div>
<div id="divs5"></div>
<div id="divs6"></div>
<div id="divs1"></div>
<div id="divs2"></div>
<div id="divs3"></div>
<div id="divs4"></div>
<div id="divs5"></div>
<div id="divs6"></div>
</div>
<style>
#divs1 { z-index:10;border-radius:5px; width:15px; height:15px; background:salmon; position:absolute;}
#divs2 { z-index:10; width:10px; height:10px; background:cornflowerblue; position:absolute;}
#divs3{  z-index:10;width:8px; height:8px; background:coral; position:absolute;}
#divs4 { z-index:10;border-radius:5px; width:6px; height:6px; background:sandybrown; position:absolute;}
#divs5 { z-index:10; width:4px; height:4px; background:chartreuse; position:absolute;}
#divs6{  z-index:10;width:2px; height:2px; background:springgreen; position:absolute;}


</style>
<script src="{{ site.url }}{{ site.baseurl }}/js/getPos.js"></script>
<script>
document.onmousemove=function(ev){
		var oDivmou=document.getElementById('mouse');
                var aDivmou=oDivmou.getElementsByTagName('div');		
                 var oEvent=ev||event;
		var pos=getPos(oEvent);
		
		for(var i=aDivmou.length-1;i>0;i--){
			aDivmou[i].style.left=aDivmou[i-1].offsetLeft+'px';
			aDivmou[i].style.top=aDivmou[i-1].offsetTop+'px';
		}
		aDivmou[0].style.left=pos.x+'px';
		aDivmou[0].style.top=pos.y+'px';

	};	

</script>