<img id="change" class="img-circle img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/photo.jpg"/>
<div id="fenxiangdao">
<span>FXD</span>

<div id="mypost">
{% for post in site.posts %}	
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
{% endfor %}
</div>
</div>
<style>
#mypost h2{
text-align:center;
font-size:normal;
margin:10px;
font-size:small;
}
#mypost h2:hover{
box-shadow:0 0 20px red;
}
#home:hover{
box-shadow:0 0 20px green;
}
#home a :hover{
box-shadow:0 0 20px green;
}

canvas:hover{
box-shadow:0 0px 10px yellow;

}
img:hover{
box-shadow:0 0 20px red;
}

#mypost a{
display:block;
padding:20px;
}
#mypost a:hover{
font-size:normal;
text-decoration:none;
text-shadow: 0 0 20px red;
}
#fenxiangdao{ width:250px; height:1200px; background:lightpink; position:absolute;left:-250px;}
#fenxiangdao span{ position:absolute; width:20px; height:60px; line-height:20px;
background:blue; right:-20px; top:70px; }



</style>
<script>


	var oDivfx=document.getElementById('fenxiangdao');
	oDivfx.onmouseover=function(){
		startMove(0);
	};
	oDivfx.onmouseout=function(){
		startMove(-150);
	}

var timer=null;
function startMove(iTarget){
	var speed=0;
	var oDivfx=document.getElementById('fenxiangdao');
	if(oDivfx.offsetLeft>iTarget)
	{
		speed=-10;
	}
	else
	{
		speed=10;
	}
	clearInterval(timer);
	timer=setInterval(function(){
		if(oDivfx.offsetLeft==iTarget){
			clearInterval(timer);
		}
		else{
			oDivfx.style.left=oDivfx.offsetLeft+speed+'px';
		}	
	},30);	
}


</script>
