<canvas id="mycanvas" width="800"  height="900" style="border:1px solid red;"></canvas>
<img id="change" class="img-circle img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/photo.jpg"/>
<h2>&hearts;<span id="phrase1"></span>&#10017;&#127775;</h2>
<h2>&#10084;<span id="phrase2"></span>&#128151;&#9730;</h2>
<style>
h2{
text-align:center;
</style>
<script>
window.onload=function(){
var img={"mm.jpg","photo.jpg"};

var image1=new Image();
image1.src="{{ site.url }}{{ site.baseurl }}/img/photo.jpg";
image1.class="img-circle img-responsive";

var c=document.getElementById("mycanvas");
var ctx=c.getContext("2d");
ctx.drawImage(image1,50,150,image1.width/3,image1.height/3);	

var grd=ctx.createLinearGradient(0,0,600,0);
grd.addColorStop(0,"red");
grd.addColorStop(0.2,"yellow");
grd.addColorStop(1,"black");
grd.addColorStop(0.5,"lightgreen");
grd.addColorStop(0.7,"lightblue");

while(1){
for(var i=0;i<2;i++){
setInterval("document.getElementById('change').src='{{ site.url }}{{ site.baseurl }}/img/'+img[i]+'",10000);
}
}


}
</script>
