<h3>&hearts;&#10084;<span id="phrase1"></span>&#128151;&#9730;&#10017;&#127775;</h3>
<img id="change"  onclick="showHide()" class="img-circle img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/photo.jpg"/>

<style>
h2{
text-align:center;
</style>
<script>
setTimeout("document.getElementById('change').src='{{ site.url }}{{ site.baseurl }}/img/mm.jpg'",2000);
function showHide(){
var oDiv=document.getElementById("mypost");
if(oDiv.style.display=="none")
oDiv.style.display="block";
else
oDiv.style.display="none";


}
</script>
