{% include myinfo.html %}
<div id="mypost">
{% for post in site.posts %}	
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
{% endfor %}
</div>
<style>
div#mypost{
text-align:center;
display:none;
}
</style>
<script>
setTimeout("showHide()",1000);
function showHide(){
var oDiv=document.getElementById("change");
var bDiv=document.getElementById("mypost");
if(oDiv.style.display=="block"&& bDiv.style.display="none")
  {
oDiv.style.display="none";
bDiv.style.display="block";
   }
}

</script>
