{% include myinfo.html %}

<script>
if (navigator.userAgent.match(/mobile/i)) {
    document.getElementById("post").style.display="none";
 }
</script>
<style>
div#mypost{
text-align:center;
}
#tab{
padding:1%;
background:white;
}
#tab ul li{
color:white;
display:inline-block;
border:1px solid lightpink;
margin:1%;

background:lightgreen;
width:50px;
height:50px;

box-shadow:0 0 10px yellow;
}
#tab .active{
background:white;color:black;border:1px solid black;
}
#tab div{
background:lightgreen;
}
</style>
<script>
window.onload=function()
{
	var oDiv=document.getElementById('tab');
	var aLi=oDiv.getElementsByTagName('li');
	var oTxt=oDiv.getElementsByTagName('div')[0];
       
	var arr=[
			"New Year",
			"Vanenties Day",
			"Tree Day",
			"Floos Day",
			"Working Day",
			"Childrens Day",
			"Army Day",
			"Cadamic Day",
			"Teachers Day",
			"Contries Day",
			"Middle Day",
			"Chiristmas Day"
	];

       

      
	for(var i=0;i<aLi.length;i++)
	{
		aLi[i].index=i;
		aLi[i].onmouseover=function ()
		{
			for(var j=0;j<aLi.length;j++)
			{
				aLi[j].className='';
			}
			this.className='active';
			oTxt.innerHTML=" <h1>"+(this.index+1)+"-activities</h1><p>"+arr[this.index]+"</p>";
		};
	}


};
</script>
<div id="tab" class="calendar">
<ul>
<li class="active">
<h3>1</h3><p>JAN</p></li>
<li><h3>2</h3><p>FER</p></li>
<li><h3>3</h3><p>MAR</p></li>
<li><h3>4</h3><p>APR</p></li>
<li><h3>5</h3><p>MRY</p></li>
<li><h3>6</h3><p>JUN</p></li>
<li><h3>7</h3><p>JUL</p></li>
<li><h3>8</h3><p>AUG</p></li>
<li><h3>09</h3><p>SEP</p></li>
<li><h3>10</h3><p>OCT</p></li>
<li><h3>11</h3><p>NOV</p></li>
<li><h3>12</h3><p>DEC</p></li>

<div></div>
</ul>
</div>
