
<ul class="pagination">
<li>
<a href="{{ site.baseurl | replace: "//", "/" }}/index.html">
GO First
</a>
</li>
<li>
{% if paginator.previous_page %}
       <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: "//", "/" }}/index.html">Prev</a>
{% else %}
      <a href="#">Prev</a>
{% endif %}

<li>
{% for count in (2..paginator.total_pages)limit:88 %}
       {% if count == paginator.page %}
          <a>{{ count }}</a>
       {% else %}
           <a href="{{ site.paginate_path |  prepend: "/" | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}/index.html">{{ count }}</a>
       {% endif%}
{% endfor %}
</li>
<li>
{% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: "//", "/" }}/index.html">Next</a>
{% else %}
    <a>Next</a>
{% endif %}
</li>
<li>
   <a href="{{ site.baseurl }}/page{{ paginator.total_pages }}/index.html">Go Last</a>
</li>
</ul>
<style>
ul.pagination{
float:right;
}
</style>