<div class="page-header">
<a href="javascript:"></a>
<div id="div15" style="width:80%";>
<ul>
<li><img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/></li>
<li><img src="{{ site.url }}{{ site.baseurl }}/img/1.png"/></li>
<li><img src="{{ site.url }}{{ site.baseurl }}/img/2.png"/></li>
<li><img src="{{ site.url }}{{ site.baseurl }}/img/3.png"/></li>
<li><img src="{{ site.url }}{{ site.baseurl }}/img/4.png"/></li>
<li><img src="{{ site.url }}{{ site.baseurl }}/img/5.png"/></li>
</ul>
</div>
<a href="javascript:"></a>
</div>
<style>
* {margin:0px; padding:0;}
#div15 {left:10px; height:178px; position:relative; background:white;
overflow:hidden;}
#div15 ul{filter:alpha(opacity:30); opacity:0.3;position:absolute;left:0px; top:0px; }
#div15 ul li{ float:left; width:178px; height:178px; list-style:none;}
#div15 img{
width:auto;
max-width:50%;
max-height:50%;
}
</style>
<script>

	var oDivq=document.getElementById('div15');
	var oUIq=oDivq.getElementsByTagName('ul')[0];
	var aLiq=oUIq.getElementsByTagName('li');
	var timer1=null;
	var speed=2;
	oUIq.innerHTML=oUIq.innerHTML+oUIq.innerHTML;
	
	oUIq.style.width=aLiq[0].offsetWidth*aLiq.length+'px';
	
	function move()
	{
				if(oUIq.offsetLeft<-oUIq.offsetWidth/2){
					oUIq.style.left='0';
				}
				if(oUIq.offsetLeft>0){
					oUIq.style.left=-oUIq.offsetWidth/2+'px';
				}
				oUIq.style.left=oUIq.offsetLeft+speed+'px';	
	
	}
	  timer1=setInterval(move,30);
       
	  oDivq.onmouseover=function()
	  {
	   clearInterval(timer1);
            startMove(100);
        };	
        
      oDivq.onmouseout=function()
      {
    	  timer1=setInterval(move,30);
      };
      document.getElementsByTagName('a')[0].onmouseover=function(){
    	  speed=-2;
      };
      document.getElementsByTagName('a')[1].onmouseover=function(){
    	  speed=2;
      };
var alpha=30;
var timer=null;
function startMove(iTarget){
	
	var oUIq=oDivq.getElementsByTagName('ul')[0];
	
	clearInterval(timer);
	timer=setInterval(function(){
		var speed=0;
		if(alpha>iTarget)
		{
			speed=-10;
		}
		else
		{
			speed=10;
		}
		if(alpha==iTarget){
			clearInterval(timer);
		}
		else{
			alpha=speed+alpha;
			oUIq.style.filter='alpha(opacity:'+alpha +')';
				oUIq.style.opacity=alpha/100;
		}	
	},30);	
}

oUIq.onmouseover=function(){
		startMove(100);
	};
	oUIq.onmouseout=function(){
		startMove(30);
	};

</script>