<div class="container">
<div class="row clearfix">
<div class="col-md-12 column">
<div class="carousel slide" id="carousel-925459">
<ol class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#carousel-925459">
</li>
<li data-slide-to="1" data-target="#carousel-925459">
</li>
<li data-slide-to="2" data-target="#carousel-925459">
</li>
</ol>
<div class="carousel-inner">
<div class="item active">
<img alt="" src="v3/default.jpg" />
<div class="carousel-caption">
<h4>
First Thumbnail label
</h4>
<p>
ras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
</p>
</div>
</div>
<div class="item">
<img alt="" src="v3/default1.jpg" />
<div class="carousel-caption">
<h4>
Second Thumbnail label
</h4>
<p>
Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
</p>
</div>
</div>
<div class="item">
<img alt="" src="v3/default2.jpg" />
<div class="carousel-caption">
<h4>
Third Thumbnail label
</h4>
<p>
Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
</p>
</div>
</div>
</div> <a class="left carousel-control" href="#carousel-925459" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-925459" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<div class="panel-group" id="panel-459922">
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-459922" href="#panel-element-913880">Collapsible Group Item #1</a>
</div>
<div id="panel-element-913880" class="panel-collapse collapse in">
<div class="panel-body">
Anim pariatur cliche...
<div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<a class="panel-title" data-toggle="collapse" data-parent="#panel-459922" href="#panel-element-523620">Collapsible Group Item #2</a>
</div>
<div id="panel-element-523620" class="panel-collapse collapse">
<div class="panel-body">
Anim pariatur cliche...
</div>
</div>
</div>
</div>
<div class="alert alert-success alert-dismissable">
<button type="button" class="close" data-dismiss="alert" aria-hidden="true">¡Á</button>
<h4>
care!
</h4> <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>
</div>
<div class="tabbable" id="tabs-641931">
<ul class="nav nav-tabs">
<li>
<a href="#panel-877613" data-toggle="tab">Section 1</a>
</li>
<li class="active">
<a href="#panel-240521" data-toggle="tab">Section 2</a>
</li>
</ul>
<div class="tab-content">
<div class="tab-pane" id="panel-877613">
<p>
I'm in Section 1.
</p>
</div>
<div class="tab-pane active" id="panel-240521">
<p>
Howdy, I'm in Section 2.
</p>
</div>
</div>
</div>
<ul class="breadcrumb">
<li>
<a href="#">Home</a>
</li>
<li>
<a href="#">Library</a>
</li>
<li class="active">
Data
</li>
</ul>
<div class="btn-group">
<button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
<ul class="dropdown-menu">
<li>
<a href="#">action</a>
</li>
<li class="disabled">
<a href="#">another action</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">other</a>
</li>
</ul>
</div>
<ul class="nav nav-pills">
<li class="active">
<a href="#"> <span class="badge pull-right">42</span> Home</a>
</li>
<li>
<a href="#"> <span class="badge pull-right">16</span> More</a>
</li>
</ul>
<a id="modal-923100" href="#modal-container-923100" role="button" class="btn" data-toggle="modal">hello</a>
			
			<div class="modal fade" id="modal-container-923100" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">¡Á</button>
							<h4 class="modal-title" id="myModalLabel">
								title
							</h4>
						</div>
						<div class="modal-body">
							test...
						</div>
						<div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">¹Ø±Õ</button> <button type="button" class="btn btn-primary">save</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
			 <a id="modal-654996" href="#modal-container-654996" role="button" class="btn" data-toggle="modal">window</a>
			
			<div class="modal fade" id="modal-container-654996" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">¡Á</button>
<h4 class="modal-title" id="myModalLabel">
title</h4>
</div>
<div class="modal-body">
test...
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">close</button> <button type="button" class="btn btn-primary">save</button>
</div>
</div>	
</div>		
</div>			
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
</div>
	
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav">
<li class="active">
<a href="#">Link</a>
</li>
<li>
<a href="#">Link</a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
<ul class="dropdown-menu">
<li>
<a href="#">Action</a>
</li>
<li>
<a href="#">Another action</a>
</li>
<li>
<a href="#">Something else here</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">Separated link</a>
</li>
<li class="divider">
</li>
<li>
<a href="#">One more arated link</a>
</li>
</ul>
</li>
</ul>
<form class="navbar-form navbar-left" role="search">
<div class="form-group">
<input class="form-control" type="text" />
</div> <button type="submit" class="btn btn-default">Submit</button>
</form>
<ul class="nav navbar-nav navbar-right">
<li>
<a href="#">Link</a>
</li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
<ul class="dropdown-menu">
<li>
<a href="#">Action</a>
</li>
<li>
<a href="#">Another ction</a>
</li>
<li>
<a href="#">Something else </li>
<li class="divider">
</li>
<li>
<a href="#">Separated link</a>
</li>
</ul>
</li>
</ul>
</div>
</nav>
</div>
</div>
</div>