<script>
function toDou(n){
	if(n<10){
		return '0'+n;
	}
	else{
		return ''+n;
	}
}
var oDiv=document.getElementById('timer');
var aImg=oDiv.getElementsByTagName('img');
	function kick(){
		var oDate=new Date();
		var str=toDou(oDate.getHours())+toDou(oDate.getMinutes())+toDou(oDate.getSeconds());
		for(var i=0;i<aImg.length;i++){
			aImg[i].src=str.charAt(i)+".png";//charAt()获取字符串某一位，用数组会不支持。
		}	
	}
	setInterval(kick,1000);
	kick();







</script>
<div id="timeer">
<img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
<img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
:
<img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
<img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
:
<img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
<img src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
</div>


