<div id="timer" style="background:black;color:blue;font-size:100px;">
<img class="img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
<img class="img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
:
<img class="img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
<img class="img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
:
<img class=" img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
<img class="img-responsive" src="{{ site.url }}{{ site.baseurl }}/img/0.png"/>
</div>


<script>
function toDou(n){
	if(n<10){
		return '0'+n;
	}
	else{
		return ''+n;
	}
}

var oDiv=document.getElementById('timer');
var aImg=oDiv.getElementsByTagName('img');
	function kick(){
		var oDate=new Date();
		var str=toDou(oDate.getHours())+toDou(oDate.getMinutes())+toDou(oDate.getSeconds());
		for(var i=0;i<aImg.length;i++){
			aImg[i].src="{{ site.url }}{{ site.baseurl }}/img/"+str.charAt(i)+".png";
		}	
	}
	setInterval(kick,1000);
	kick();


</script>



