---
layout: default
title: Code Garden --1
---
<div class="cover-content-right">
<h1>How to set the paginator</h1>
<ul>
<li>paginator has many useful word which can use in the index.html</li>
<li>paginator.per_page</li>
<li>paginator.posts</li>
<li>paginator.total_posts</li>
<li>paginator.total_pages</li>
<li>paginator.page</li>
<li>paginator.previous_page</li>
<li>paginator.previous_page_path</li>
<li>paginator.next_page</li>
<li>paginator.next_page_path</li>
</ul>


<!-- 遍历分页后的文章 -->
{% for post in paginator.posts %}
<h1><a href="https://segmentfault.com/a/{{ post.url }}">{{ post.title }}</a></h1>
<p class="author">
<span class="date">{{ post.date }}</span>
</p>
<div class="content">
{{ post.content }}
</div>
{% endfor %}

<!-- 分页链接 -->
<div class="pagination">
{% if paginator.previous_page %}
<a href="https://segmentfault.com/page{{ paginator.previous_page }}" class="previous">Previous</a>
{% else %}
<span class="previous">Previous</span>
{% endif %}
<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
{% if paginator.next_page %}
<a href="https://segmentfault.com/page{{ paginator.next_page }}" class="next">Next</a>
{% else %}
<span class="next ">Next</span>
{% endif %}
</div>
</div>