<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="precover">
<div class="headerback">
{% include headerback.html %}
</div>
<div class="cover">
<div class="cover-row">
<div class="cover-content-left">
<img class="myphoto" src="{{ site.url }}{{ site.baseurl }}/img/photo.jpg"/>
<h1>CODE GARDEN</h1>
<h2>JS,JAVA,CSS</h2>
<ul>
{% for post in site.posts %}
<li>	
<h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
<span class="date">{{ post.date | date_to_string }}</span>
</li>
{% endfor %}
</ul>
</div>
<div class="cover-content-right">
{% include paginator.html %}
<section id="post-content">
{{ content  }}
</section>
</div>

</div>
</div>
</div>
</body>
</html>
