<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include header.html %}
<div class="cover">
<div class="cover-row">
{% include myinfo.html %}
<div id="cover-head" class="cover-td" style="width:55%;">
<h1 style="text-align:right;margin-top:30%;color:white;padding:30px;font-size:150%;line-height:1.6em;font-weight:bold;">Shake it off</h1>
</div>
</div>
<div class="cover-row">
<div class="cover-td" style="width:25%;" id="mypost">
{% include mypost.html %}
</div>
<div class="cover-td" style="width:55%;">
{% include paginator.html %}
{% include addsong.html %}
<div id="location">
your location will go here.
</div>
<div id="distance">
Distance from WickedlySmart HQ will go here.
</div>
<div id="map">
</div>
<section id="post-content">
{{ content  }}
</section>
</div>
</div>
</div>


</body>
</html>
